a:hover{
  text-decoration: none;
}

.contents {
  /* padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px; */
}

.card-list-content{
  margin: 0 auto;
  width: 95%;
  margin-top: 1.6rem;
}

.list-icon {
  margin-right: 20px;
}

.contents {
  /* padding: 60px; */
}

.contents b{
  color: rgb(255, 38, 0);
}

.contents .conponent-1 {
  padding: 60px;
  background-color: rgb(224, 224, 224);
  overflow: hidden;
}

.contents .conponent-2 {
  padding: 60px;
  background-color: white;
  overflow: hidden;
}

.uk-list li{
  padding-left: 20px;
  padding-bottom: 5px;
  border-bottom: white solid 2px;
}

.uk-card {
  position: relative;
}

.uk-card a{
  display: block;
  postion: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.property li{
  padding-left: 20px;
  padding-bottom: 5px;
  border: None;
}

.property .pname{
  font-weight: bold;
  color: rgb(255, 38, 0);
}

.property li div{
  padding-left: 40px;
}

.conponent-1 .cord {
  background-color: rgb(255, 255, 255);
  color: black;
  padding-left: 10px;
  margin-top: 10px;
  border-left: black solid 3px;
}

.conponent-2 .cord {
  background-color: rgb(224, 224, 224);
  color: black;
  padding-left: 10px;
  margin-top: 10px;
  border-left: black solid 3px;
}

.comment{
  color: rgb(129, 129, 129);
}

.prop{
  float: left;
  width: 50%;
}
